.account-icon {
    width: fit-content;
    margin-left: auto;
}

.home-content {
    width: 90vw;
    min-height: fit-content;
    position: relative;
}

.home-footer {
    margin-top: 12rem;;
    margin-inline: auto;
    width: fit-content;
    font-size: 1.5rem;
}

.home-footer-link:hover {
    text-decoration: underline;
}

.home-title {
    color: black;
}

.search-bar {
    display: flex;
    flex-direction: column;
}

.search-bar-button {
    width: fit-content;
    margin: auto;
}

.search-bar-input {
    margin: 2rem auto;
    width: 80%;
    max-width: 30rem;
    height: 4rem;
    font-size: 2rem;
}

.search-bar-title {
    width: fit-content;
    margin: auto;
}