.account-icon {
    width: fit-content;
    margin-left: auto;
    display: flex;
    flex-direction: column;
}
  
.get-nutrition-search-history-button {
    margin-bottom: 1rem;
    color: black;
    background-color:gainsboro;
}

.clear-nutrition-search-history-button {
    color: black;
    background-color:gainsboro;
}

.home-content {
    width: 90vw;
    margin: auto;
    min-height: fit-content;
    position: relative;
}

.home-footer {
    margin-top: 2rem;;
    margin-inline: auto;
    width: fit-content;
    font-size: 1.5rem;
    position: 0;
}

.home-footer-link {
    color: mediumslateblue;
}

.home-footer-link:hover {
    color: mediumslateblue;
    text-decoration: underline;
}

.home-title {
    color: black;
}

.nutrition-response {
    margin-block: 1rem;
}

.response-button {
    width: 12rem;
    margin-top: 1rem;
    margin-inline: auto;
    color: black;
    background-color:gainsboro;
}

.response-button:hover {
    border: 1px solid mediumslateblue;
}

.response-buttons {
    width: 30rem;
    max-width: 90%;
    margin: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.search-bar {
    display: flex;
    flex-direction: column;
}

.search-bar-button {
    width: 6rem;
    margin-top: 1rem;
    margin-inline: auto;
    color: black;
    background-color:gainsboro;
}

.search-bar-button:hover {
    border: 1px solid mediumslateblue;
}

.search-bar-buttons {
    width: 20rem;
    margin: auto;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.search-bar-input {
    margin: 2rem auto;
    width: 80%;
    max-width: 30rem;
    height: 3rem;
    color: black;
    font-size: 1.5rem;
    background-color: white;
    border: 2px solid black;
}

.search-bar-input.disabled {
    background-color: #f0f0f0; /* Example gray background color */
    color: #808080; /* Example gray text color */
    /* Any other styles to visually indicate it's disabled */
}

.search-bar-title {
    width: fit-content;
    margin: auto;
}

.username-placeholder {
    width: 3rem;
}