.search-bar {
    display: flex;
    flex-direction: column;
}

.search-bar-button {
    width: fit-content;
    margin: auto;
}

.search-bar-input {
    margin-block: 2rem;
    height: 4rem;
    font-size: 2rem;
}

.search-bar-title {
    width: fit-content;
    margin: auto;
}