.response-column {
    width: 12rem;
    margin: auto;
}

.response-column-field {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid mediumslateblue;
    transition: 0.3s ease;
}

.response-column-field:hover {
    border-bottom: 3px solid mediumslateblue;
    font-size: 1.125rem;
}

.response-container {
    width: 100%;
    margin: auto;
}

.response-item {
    width: 45%;
    margin: auto;
}

.response-item-body {
    display: flex;
    flex-flow: row wrap;
    text-align: left;
    justify-content: space-around;
}

.response-item-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.response-item-name {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
}

.response-item-serving {
    margin-block: 0.25rem;
}

.response-title {
    font-size: 2rem;
}